
/* CSS - Cascading Style Sheets
Inline - Directly injected into the HTML tag | style = "" attribute
Internal - Applied directly to a web page | <style>...</style> in the <head>
External - In it's own file and reusable | <link rel="stylesheet" href="PATH TO CSS FILE" /> | Allows for more maintainability of a website

Comprises 'selector:value' pairs
selector - what I want to change about the element
value - what i want it to be changed to */

/* ------------- Global Style Section*/
p{
    color:grey;
}

h1,h2,h3,h4,h5,h6{
    color: indigo;
    /* text-align: center; */
    /* style="color: crimson; " */
}

/*--------------- Layout Styles Section */
#container{
    width:90%; 
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#header, #footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

#footer p{
    color: maroon;
}

/*--------------- Nav Section*/
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover, .dropdown:hover .dropbtn {
  background-color: brown;
}

li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/*Table Style Section */
#datatable{
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

#datatable td, #datatable th{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
}

.headerText{
    color: teal;
    text-align: center;
}

.productImages{
    width: 170px; 
    height: 100px;
}